.daily-details {
  display: flex;
  width: calc(90% + 4rem);
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
}

.daily-data-content {
  background-color: #2f2f49;
  border-radius: 12px;
  width: 20%;
  padding: 0 1rem;
}

@media (max-width: 968px) {
  .daily-details {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    width: 100%;
  }
  .daily-data-content {
    width: auto;
  }
}
