.weather-data-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding: 20px;
}
.weather-data-left {
  flex: 1;
  height: 500px;
}
.weather-data-right {
  width: 30%;
  height: 500px;
}

@media (max-width: 968px) {
  .weather-data-container {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .weather-data-left,
  .weather-data-right {
    width: 100%;
    height: auto;
  }
}
